.card {
    position: relative;
    color: black;
    height: 550px;
    top: 120px;
    background-color: blue;
}

.card-details-div {
    position: absolute;
    top: 35%;
    left: 15%;
    height: 40%;
    width: 70%;
    background-color: aqua;
}

.card>.cadr-image-div>img {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 180px;
    background-color: antiquewhite;
}