.contact-page-main-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 400%;
    left: 0%;
    background-color: rgb(255, 255, 255);
}

.form-container {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 70%;
    height: 40%;
    left: 3%;
    bottom: 15%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
}

::placeholder {
    color: #c9c9c9;
}

.name-input {
    width: 44%;
}

.email-input {
    position: absolute;
    right: 3%;
    width: 44%;
}

.phone-input {
    width: 44%;
}

.address-input {
    position: absolute;
    right: 3%;
    width: 44%;
    top: 24.9%;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #007BFF;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: absolute;
    width: 30%;
    height: 40%;
    right: 5%;
    bottom: 10%;
    text-align: left;
}

.contact-details h3 {
    margin-bottom: 15px;
    color: #007BFF;
}

.contact-details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.contact-details strong {
    color: #333;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    margin-bottom: 15px;
    color: #007BFF;
}