#navcontent {
    position: fixed;
    display: flex;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 8%;
    z-index: 100;
}

.navbar {
    position: absolute;
    padding: 12px;
    width: 20%;
    left: 70%;
}

.hotel-log {
    position: absolute;
    height: 130%;
    left: 2%;
    top: 15%;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #001aff;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #001aff;
    font-size: 18px;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #020080;
}

.navbar-menu li {
    cursor: pointer;
}