#navcontent {
    position: absolute;
    display: flex;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 8%;
    z-index: 100;
}

.navbar {
    position: absolute;
    padding: 12px;
    width: 20%;
    left: 70%;
}

.hotel-log {
    position: absolute;
    height: 130%;
    left: 2%;
    top: 15%;
}